<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ElectroStore</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="bg-light">

    {{> menu}}

    <main class="container">
      {{{body}}}
    </main>

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>